%h1 Unbounded
%hr

= form_tag root_path, method: :get do
  %div
    Search Hashtag: 
    = text_field_tag "search[hashtag]", nil

  %div
    = submit_tag "Submit"

%div
  = render "tags/tag", tags: @tags



